@model Job_0210.Datas.Todo

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4">Delete Task</h1>

<h3 class="text-danger">Are you sure you want to delete this?</h3>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Todo Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-9">
                @{
                    string statusDisplay = Model.Status switch
                    {
                        1 => "Todo",
                        2 => "In Progress",
                        3 => "Complete",
                        _ => "None"
                    };
                }
                <span class="badge @(
                    statusDisplay == "Complete" ? "bg-success" :
                    statusDisplay == "In Progress" ? "bg-warning text-dark" :
                    "bg-secondary"
                )">
                    @statusDisplay
                </span>
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-between">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>
