@model Job_0210.Datas.Todo

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4">Task Details</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Todo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9 mb-3">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-9 mb-3">
                @{
                    string statusDisplay = Model.Status switch
                    {
                        1 => "Todo",
                        2 => "In Progress",
                        3 => "Complete",
                        _ => "None"
                    };
                }
                <span class="badge @(
                    statusDisplay == "Complete" ? "bg-success" :
                    statusDisplay == "In Progress" ? "bg-warning text-dark" :
                    "bg-secondary"
                )">
                    @statusDisplay
                </span>
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9 mb-3">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
